# Ignore node_modules directory (Node.js dependencies)
node_modules/

# ignore reports folder
cypress/reports/
# Ignore mochawesome report
mochawesome-report/
# DS store file
.DS_Store
cypress/.DS_Store
.DS_Store
cypress/.DS_Store
